body {
    font-family: "Plus Jakarta Sans", "sans-serif";
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-shadow {
    box-shadow: 0px 10px 30px 0px rgba(241, 186, 176, 0.60);
}

.weather-bg {
    background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.35)), url("/icons/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardShadow {
    box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.15);
}

.textShadow {
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.40));
}